<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126225151955-dsl2ske2ph0os2q5d3mcckv7l4qqlu89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126225151955-dsl2ske2ph0os2q5d3mcckv7l4qqlu89</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ1Lxx3iRvuUsNa7WjTJmXCTGjM8gUqA8</string>
	<key>GCM_SENDER_ID</key>
	<string>126225151955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chikh.CHAT-ME</string>
	<key>PROJECT_ID</key>
	<string>chat-me-9b681</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-me-9b681.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126225151955:ios:17ed23ab7ed4e98efa2126</string>
</dict>
</plist>